%base {
    width: 100%;
    margin: 0;
    font-size: 25px;
}

%allSpan {
    display: inline-block;
    margin-top: 10px;
}

%mobile {     
    width: 100%;
    height: 100px;       
}

$margin-L20: 20px;
$lineHeight: 50px;
