main {
    @extend %base;
}

.green {
    background: #b6d884;
    height: $lineHeight;
}

.green > span {
    margin-left: $margin-L20 + 30px;
}

.lightblue {
    background: #6acbde;
    height: $lineHeight;
}

.lightblue > span {
    margin-left: $margin-L20 + 40px;
}

.blue {
    background: #7c8bc6;
    height: $lineHeight;
}

.blue > span {
    margin-left: $margin-L20 + 50px;
}

.purple {
    background: #9977b4;
    height: $lineHeight;
}

.purple > span {
    margin-left: $margin-L20 + 60px;
}