header, main {
  width: 100%;
  margin: 0;
  font-size: 25px; }

span {
  display: inline-block;
  margin-top: 10px; }

.red {
  background: #f69c9a;
  height: 50px; }

.red > span {
  margin-left: 20px; }

.orange {
  background: #fecd7e;
  height: 50px; }

.orange > span {
  margin-left: 30px; }

.yellow {
  background: #ffed81;
  height: 50px; }

.yellow > span {
  margin-left: 40px; }

.green {
  background: #b6d884;
  height: 50px; }

.green > span {
  margin-left: 50px; }

.lightblue {
  background: #6acbde;
  height: 50px; }

.lightblue > span {
  margin-left: 60px; }

.blue {
  background: #7c8bc6;
  height: 50px; }

.blue > span {
  margin-left: 70px; }

.purple {
  background: #9977b4;
  height: 50px; }

.purple > span {
  margin-left: 80px; }

footer {
  width: 90%;
  height: 350px;
  border: 1px solid black;
  margin: auto;
  margin-top: 50px;
  background-color: white;
  line-height: 22px; }

.block {
  width: 90%;
  margin: auto;
  color: #5353f8; }

p {
  color: green; }

.git,
.gitBranches,
.gulp,
.sass,
.over,
.gitHub,
.profit {
  display: none; }

.git ol > li > span {
  color: #fa7775;
  margin: 0; }

.gitBranches ol > li > span {
  color: orangered; }

.gulp ol > li > span {
  color: #fde910;
  background-color: grey; }

.sass ol > li > span {
  color: green;
  margin: 0; }

.gitHub ol > li > span {
  color: blue;
  margin: 0; }

.gitHub {
  color: black; }

.profit ol > li > span {
  color: purple;
  margin: 0; }

.over > img {
  width: 600px; }

@media (max-width: 1521px) {
  .over > img {
    width: 500px; } }

@media (max-width: 1272px) {
  .over > img {
    width: 400px; } }

@media (max-width: 1030px) {
  .over > img {
    width: 350px; } }

@media (max-width: 905px) {
  .over > img {
    width: 330px; } }

    @media (max-width: 750px) {
      header, main {
        width: 100%;
        height: 250px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }

      .red,
      .orange,
      .yellow,
      .green,
      .lightblue,
      .blue,
      .purple{
        width: 49%;
        height: 120px;
        text-align: center;
        margin: 0;
      }

      .red > span,
      .orange > span,
      .yellow > span,
      .green > span,
      .lightblue > span,
      .blue > span,
      .purple > span
      {
        width: 90%;
        margin: 0;
        font-size: 20px;
      }

      .red span::before {
        content: "1) ";
      }
      .orange span::before {
        content: "2) ";
      }
      .yellow span::before {
        content: "3) ";
      }
      .green span::before {
        content: "4) ";
      }
      .lightblue span::before {
        content: "5) ";
      }
      .blue span::before {
        content: "6) ";
      }
      .purple span::before {
        content: "7) ";
      }

      footer {
        width: 99%;
        height: 100%;
      }
      .over > img {
        width: 330px; 
      }

      .profit > img {
        width: 100%; 
      }
    }

body {
  background-color: rgba(255, 244, 228, 0.5); }
