main, header, footer{
    width: 100%;
    margin: 0;
    font-size: 25px;
}

.red {
    background: #f69c9a;
    height: 49px;
}
.red > span {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}

.orange {
    background: #fecd7e;
    height: 50px;
}