.green {
    background: #b6d884;
    height: 50px;
}

.lightblue {
    background: #6acbde;
    height: 50px;
}

.blue {
    background: #7c8bc6;
    height: 50px;
}

.purple {
    background: #9977b4;
    height: 50px;
}